In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("combined_df_Treatment_2016_2022.csv")
df

        Year  FIPSST  K2Q31A  K2Q31D  ADDTREAT
0       2016      18     2.0     NaN       NaN
1       2016      17     1.0     1.0       1.0
2       2016      50     2.0     NaN       NaN
3       2016      51     2.0     NaN       NaN
4       2016      53     2.0     NaN       NaN
...      ...     ...     ...     ...       ...
279541  2022      36     2.0     NaN       NaN
279542  2022       6     2.0     NaN       NaN
279543  2022      16     2.0     NaN       NaN
279544  2022      29     2.0     NaN       NaN
279545  2022      20     1.0     1.0       1.0

[279546 rows x 5 columns]

K2Q31D ‐ ADD/ADHD ‐ Medication Currently (T1 T2 T3) 
Is this child CURRENTLY taking medication for ADD or ADHD? 
1 = Yes 2 = No Skip if K2Q31A=2

ADDTREAT ‐ ADD/ADHD ‐ Behavioral Treatment (T1 T2 T3) 
At any time DURING THE PAST 12 MONTHS, did this child receive behavioral treatment for ADD or ADHD, such as training or an intervention that 
you or this child received to help with their behavior? 
1 = Yes 2 = No Skip if K2Q31A=2

In [3]:
# Assuming your dataframe is named df

# Define a dictionary with the old column names as keys and the new names as values
new_column_names = {
    "K2Q31A": "ADHD_Diagnosis",
    "K2Q31D": "Medication Treatment",
    "ADDTREAT": "Behavioral Treatment"
}

# Rename the columns using the dictionary
df.rename(columns=new_column_names, inplace=True)

# Now the dataframe has the new column names
df

,Year,FIPSST,ADHD_Diagnosis,Medication Treatment,Behavioral Treatment
0,2016,18,2.0,NaN,NaN
1,2016,17,1.0,1.0,1.0
2,2016,50,2.0,NaN,NaN
3,2016,51,2.0,NaN,NaN
4,2016,53,2.0,NaN,NaN
...,...,...,...,...,...
279541,2022,36,2.0,NaN,NaN
279542,2022,6,2.0,NaN,NaN
279543,2022,16,2.0,NaN,NaN
279544,2022,29,2.0,NaN,NaN
279545,2022,20,1.0,1.0,1.0

In [4]:

# Define the mapping for each column
ADHD_Diagnosis_mapping = {1.0: 'Yes', 2.0: 'No'}
Medication_mapping = {1.0: 'Yes', 2.0: 'No'}
Behavioral_mapping = {1.0: 'Yes', 2.0: 'No'}


# Apply the mapping to the corresponding columns
df['ADHD_Diagnosis'] = df['ADHD_Diagnosis'].map(ADHD_Diagnosis_mapping)
df['Medication Treatment'] = df['Medication Treatment'].map(Medication_mapping)
df['Behavioral Treatment'] = df['Behavioral Treatment'].map(Behavioral_mapping)

# Now dataframe has the values mapped to their textual representations
df

        Year  FIPSST ADHD_Diagnosis Medication Treatment Behavioral Treatment
0       2016      18             No                  NaN                  NaN
1       2016      17            Yes                  Yes                  Yes
2       2016      50             No                  NaN                  NaN
3       2016      51             No                  NaN                  NaN
4       2016      53             No                  NaN                  NaN
...      ...     ...            ...                  ...                  ...
279541  2022      36             No                  NaN                  NaN
279542  2022       6             No                  NaN                  NaN
279543  2022      16             No                  NaN                  NaN
279544  2022      29             No                  NaN                  NaN
279545  2022      20            Yes                  Yes                  Yes

[279546 rows x 5 columns]

In [5]:
#filter the dataframe to ADHD cases only
df = df[df['ADHD_Diagnosis']== 'Yes']
df

        Year  FIPSST ADHD_Diagnosis Medication Treatment Behavioral Treatment
1       2016      17            Yes                  Yes                  Yes
51      2016      53            Yes                  Yes                  Yes
52      2016      50            Yes                  Yes                  Yes
63      2016      46            Yes                   No                   No
76      2016      44            Yes                  Yes                   No
...      ...     ...            ...                  ...                  ...
279512  2022      27            Yes                  Yes                  Yes
279513  2022      42            Yes                   No                  Yes
279535  2022      11            Yes                  Yes                   No
279536  2022      48            Yes                  Yes                  Yes
279545  2022      20            Yes                  Yes                  Yes

[27348 rows x 5 columns]

In [6]:
# Check for NaN values and print the count for each column
nan_counts = df.isna().sum()
print(nan_counts)

Year                      0
FIPSST                    0
ADHD_Diagnosis            0
Medication Treatment    166
Behavioral Treatment    120
dtype: int64

In [7]:
# Remove rows with NaN values only in 'Medication Treatment' columns
df = df.dropna(subset=['Medication Treatment','Behavioral Treatment'])
df.shape

(27089, 5)

In [8]:
# Create a copy of the DataFrame to avoid SettingWithCopyWarning
df_copy = df.copy()

# Apply the lambda function to the copy of the DataFrame
df_copy['Medi or Behav Treatment'] = df_copy.apply(
    lambda row: 'Yes' if row['Medication Treatment'] == 'Yes' or row['Behavioral Treatment'] == 'Yes' else 'No', 
    axis=1
)

df_copy['Medi & Behav treatments'] = df_copy.apply(
    lambda row: 'Yes' if row['Medication Treatment'] == 'Yes' and row['Behavioral Treatment'] == 'Yes' else 'No', 
    axis=1
)
df_copy

,Year,FIPSST,ADHD_Diagnosis,Medication Treatment,Behavioral Treatment,Medi or Behav Treatment,Medi & Behav treatments
1,2016,17,Yes,Yes,Yes,Yes,Yes
51,2016,53,Yes,Yes,Yes,Yes,Yes
52,2016,50,Yes,Yes,Yes,Yes,Yes
63,2016,46,Yes,No,No,No,No
76,2016,44,Yes,Yes,No,Yes,No
...,...,...,...,...,...,...,...
279512,2022,27,Yes,Yes,Yes,Yes,Yes
279513,2022,42,Yes,No,Yes,Yes,No
279535,2022,11,Yes,Yes,No,Yes,No
279536,2022,48,Yes,Yes,Yes,Yes,Yes
279545,2022,20,Yes,Yes,Yes,Yes,Yes

In [9]:
# Calculate the distribution of 'ADHD_Diagnosis' for each state and year
State_treatment_distribution_df = (
    df_copy.groupby(['Year', 'FIPSST'])['Medi or Behav Treatment']
    .value_counts(normalize=True)  # Get the relative frequencies within each group
    .rename('percentage')  # Rename the series for clarity
    .reset_index()  # Flatten the multi-index into a DataFrame
    .assign(percentage=lambda x: x['percentage'] * 100)  # Convert the relative frequencies to percentages
)

# Now State_distribution_df has the distribution percentages of treatment by year and FIPSST
State_treatment_distribution_df = State_treatment_distribution_df[State_treatment_distribution_df['Medi or Behav Treatment']=='Yes']
#Change column name "percentage to Medi_or_Treat%"
State_treatment_distribution_df = State_treatment_distribution_df.rename(columns={'percentage': 'Medi_or_Behav_Treat%'})
#Drop"Medi or Behav Treatment" column
State_treatment_distribution_df = State_treatment_distribution_df.drop(columns=['Medi or Behav Treatment'])

State_treatment_distribution_df

     Year  FIPSST  Medi_or_Behav_Treat%
0    2016       1             85.148515
2    2016       2             71.428571
4    2016       4             76.250000
6    2016       5             74.509804
8    2016       6             60.000000
..    ...     ...                   ...
704  2022      51             71.264368
706  2022      53             62.666667
708  2022      54             68.595041
710  2022      55             73.913043
712  2022      56             68.224299

[357 rows x 3 columns]

In [10]:
# Calculate the distribution of 'ADHD_Diagnosis' for each state and year
State_Medication_Treatment_distribution_df = (
    df_copy.groupby(['Year', 'FIPSST'])['Medication Treatment']
    .value_counts(normalize=True)  # Get the relative frequencies within each group
    .rename('percentage')  # Rename the series for clarity
    .reset_index()  # Flatten the multi-index into a DataFrame
    .assign(percentage=lambda x: x['percentage'] * 100)  # Convert the relative frequencies to percentages
)

# Now State_distribution_df has the distribution percentages of treatment by year and FIPSST
State_Medication_Treatment_distribution_df = State_Medication_Treatment_distribution_df[State_Medication_Treatment_distribution_df['Medication Treatment']=='Yes']

#Change column name "percentage" to "Medi_Treat%"
State_Medication_Treatment_distribution_df = State_Medication_Treatment_distribution_df.rename(columns={'percentage': 'Medi_Treat%'})
#Drop"Medication Treatment" column
State_Medication_Treatment_distribution_df = State_Medication_Treatment_distribution_df.drop(columns=['Medication Treatment'])

State_Medication_Treatment_distribution_df

     Year  FIPSST  Medi_Treat%
0    2016       1    77.227723
2    2016       2    53.571429
4    2016       4    57.500000
6    2016       5    60.784314
9    2016       6    35.000000
..    ...     ...          ...
704  2022      51    59.770115
707  2022      53    45.333333
708  2022      54    56.198347
710  2022      55    60.869565
712  2022      56    51.401869

[357 rows x 3 columns]

In [11]:
# Calculate the distribution of 'ADHD_Diagnosis' for each state and year
State_Behavioral_Treatment_distribution_df = (
    df_copy.groupby(['Year', 'FIPSST'])['Behavioral Treatment']
    .value_counts(normalize=True)  # Get the relative frequencies within each group
    .rename('percentage')  # Rename the series for clarity
    .reset_index()  # Flatten the multi-index into a DataFrame
    .assign(percentage=lambda x: x['percentage'] * 100)  # Convert the relative frequencies to percentages
)

# Now State_distribution_df has the distribution percentages of treatment by year and FIPSST

State_Behavioral_Treatment_distribution_df = State_Behavioral_Treatment_distribution_df[State_Behavioral_Treatment_distribution_df['Behavioral Treatment']=='Yes']
#Change column name "percentage" to "Behav_Treat%"
State_Behavioral_Treatment_distribution_df = State_Behavioral_Treatment_distribution_df.rename(columns={'percentage': 'Behav_Treat%'})
#Drop"Behavioral Treatment" column
State_Behavioral_Treatment_distribution_df = State_Behavioral_Treatment_distribution_df.drop(columns=['Behavioral Treatment'])

State_Behavioral_Treatment_distribution_df

     Year  FIPSST  Behav_Treat%
1    2016       1     37.623762
3    2016       2     50.000000
4    2016       4     53.750000
7    2016       5     47.058824
8    2016       6     51.666667
..    ...     ...           ...
705  2022      51     41.379310
707  2022      53     40.000000
709  2022      54     38.016529
710  2022      55     52.173913
713  2022      56     49.532710

[357 rows x 3 columns]

In [12]:
# Calculate the distribution of 'ADHD_Diagnosis' for each state and year
State_Medi_Behav_treatments_distribution_df = (
    df_copy.groupby(['Year', 'FIPSST'])['Medi & Behav treatments']
    .value_counts(normalize=True)  # Get the relative frequencies within each group
    .rename('percentage')  # Rename the series for clarity
    .reset_index()  # Flatten the multi-index into a DataFrame
    .assign(percentage=lambda x: x['percentage'] * 100)  # Convert the relative frequencies to percentages
)

# Now State_distribution_df has the distribution percentages of treatment by year and FIPSST
State_Medi_Behav_treatments_distribution_df = State_Medi_Behav_treatments_distribution_df[State_Medi_Behav_treatments_distribution_df['Medi & Behav treatments']=='Yes']
#Change column name "percentage" to "Medi&Behav_Treat%"
State_Medi_Behav_treatments_distribution_df = State_Medi_Behav_treatments_distribution_df.rename(columns={'percentage': 'Medi&Behav_Treat%'})
#Drop"Medi & Behav treatments" column
State_Medi_Behav_treatments_distribution_df = State_Medi_Behav_treatments_distribution_df.drop(columns=['Medi & Behav treatments'])

State_Medi_Behav_treatments_distribution_df

     Year  FIPSST  Medi&Behav_Treat%
1    2016       1          29.702970
3    2016       2          32.142857
5    2016       4          35.000000
7    2016       5          33.333333
9    2016       6          26.666667
..    ...     ...                ...
705  2022      51          29.885057
707  2022      53          22.666667
709  2022      54          25.619835
711  2022      55          39.130435
713  2022      56          32.710280

[357 rows x 3 columns]

In [13]:
#Merge all the % data together

from functools import reduce
df1 = State_treatment_distribution_df
df2 = State_Medication_Treatment_distribution_df
df3 = State_Behavioral_Treatment_distribution_df
df4 = State_Medi_Behav_treatments_distribution_df
# Assuming df1, df2, df3, and df4 are your DataFrames
dataframes = [df1, df2, df3, df4]

# Merge all DataFrames in one step
merged_df = reduce(lambda left, right: pd.merge(left, right, on=['Year', 'FIPSST'], how='outer'), dataframes)
merged_df

,Year,FIPSST,Medi_or_Behav_Treat%,Medi_Treat%,Behav_Treat%,Medi&Behav_Treat%
0,2016,1,85.148515,77.227723,37.623762,29.702970
1,2016,2,71.428571,53.571429,50.000000,32.142857
2,2016,4,76.250000,57.500000,53.750000,35.000000
3,2016,5,74.509804,60.784314,47.058824,33.333333
4,2016,6,60.000000,35.000000,51.666667,26.666667
...,...,...,...,...,...,...
352,2022,51,71.264368,59.770115,41.379310,29.885057
353,2022,53,62.666667,45.333333,40.000000,22.666667
354,2022,54,68.595041,56.198347,38.016529,25.619835
355,2022,55,73.913043,60.869565,52.173913,39.130435
356,2022,56,68.224299,51.401869,49.532710,32.710280

In [14]:
# Save the merged_df to a CSV file
merged_df.to_csv('treatment%_per_state_2016_to_2022.csv', index=False)

In [15]:

# Group by 'Year' and then calculate max, min, and median for each specified column
aggregated_df = merged_df.groupby('Year')[['Medi_or_Behav_Treat%', 'Medi_Treat%', 'Behav_Treat%', 'Medi&Behav_Treat%']].agg(['max', 'min', 'median'])

aggregated_df

     Medi_or_Behav_Treat%                       Medi_Treat%             \
                      max        min     median         max        min
Year
2016            85.148515  60.000000  73.195876   77.227723  35.000000
2017            83.720930  45.454545  71.698113   74.418605  30.303030
2018            84.705882  50.000000  73.493976   77.192982  32.608696
2019            86.666667  56.140351  70.886076   75.609756  36.363636
2020            82.258065  54.385965  68.316832   69.911504  34.615385
2021            82.352941  57.303371  68.421053   76.470588  35.135135
2022            81.481481  46.296296  70.129870   70.370370  35.185185

                Behav_Treat%                       Medi&Behav_Treat%  \
         median          max        min     median               max
Year
2016  58.878505    62.121212  27.777778  43.298969         41.975309
2017  60.869565    59.375000  26.086957  41.666667         44.827586
2018  60.975610    58.000000  29.357798  42.622951         45.000000
2019  59.259259    61.290323  29.787234  43.548387         47.058824
2020  54.430380    56.521739  28.070175  42.424242         42.253521
2021  54.320988    56.410256  30.379747  41.379310         47.058824
2022  54.285714    60.000000  34.951456  43.835616         42.553191


            min     median
Year
2016  15.853659  29.702970
2017  10.204082  30.303030
2018  14.634146  30.769231
2019  11.363636  28.571429
2020  10.526316  27.272727
2021  16.216216  26.717557
2022  20.202020  28.750000